.Home {
    text-align: center;
    justify-content: flex-start;
}

.Card {
    margin: 10px 10px;
    padding: 10px;
}

.List {
    justify-content: space-around;
    width: 100%;
}

.Autocomplete{
    max-width: 80%;
    margin: 10px auto;
}


.Alert{
    margin: 5px;
}